
.login {
  width: 900px;
  height: 564px;
  position: absolute;
  top: 100px;
  left: 270px;
  padding: 0px 40px 0px 0px;
  border-radius: 10px;
  background: #ffffff;
}
.image img {
  width: 450px;
  height: 564px;
}
.form {
  width: 370px;
  height: 484px;
  position: absolute;
  top: 40px;
  left: 490px;
  gap: 40px;
}
.form-title {
  width: 261px;
  height: 57px;
  font-family: Poppins;
  color: #262626;
  text-align: left;
}
.header {
  width: 60px;
  height: 33px;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
}
.para {
  width: 261px;
  height: 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  margin-top: -20px;
}
.login-details {
  width: 370px;
  height: 265px;
  gap: 20px;
}
.form-input {
  width: 370px;
  height: 70px;
  margin-top: 25px;
}
.form-input label {
  width: 42px;
  height: 21px;
}
.input {
  width: 370px;
  height: 44px;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: 1px;
  gap: 10px;
 
}
.input input {
  width: 370px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 5px;
}
.form-input1 {
  width: 370px;
  height: 70px;
  gap: 5px;
  margin-top: 30px;
}
.password {
  width: 127px;
  height: 21px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #525252;
}
.forget-password{
    width: 390px;
height: 21px;
font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #525252;
display: flex;
justify-content: flex-end;

}

button{
width: 400px;
height: 24px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
background-color: #2563EB;
padding: 15px;
color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
margin-top: 25px;
}
.button-one button{
width: 400px;
height: 24px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
background-color: #ffffff;
padding: 15px;
color: black;
display: flex;
justify-content: center;
align-items: center;
margin-top: 25px;
}

.register{
    width: 370px;
    height: 82px;
    gap: 10px;
}
span{
   margin-left: 190px;
   color: #8d8b8b;
}